<ion-header>
  <ion-toolbar>
    <ion-title><h1>SkeletonApp</h1></ion-title>
    <p>Aquí comienza todo</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Bienvenido!</h3>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username" maxLength="8" minLength="3"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" maxLength="4"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="login()">Ingresar</ion-button>
</ion-content>

